


<!-- Hijri Info kompakt oben -->
<div class="hijri-info-bar" *ngIf="prayerTimeAPI.data">
  <span>{{prayerTimeAPI.data.date.hijri.day}}. {{prayerTimeAPI.data.date.hijri.month.ar}} {{prayerTimeAPI.data.date.hijri.year}} ({{prayerTimeAPI.data.date.hijri.weekday.ar}})</span>
</div>

<!-- Gebetszeiten Cards -->
<div class="prayer-cards-list" *ngIf="prayerTimeAPI.data">
  <div class="prayer-cards-row">
    <div class="prayer-card-simple" *ngFor="let prayer of prayers">
  <div class="prayer-title" [ngStyle]="{'color': userAccentColor}">{{prayer}}</div>
  <div class="prayer-time">{{getTime(prayer)}}</div>
      </div>
  </div>
  <div class="prayer-cards-row">
    <div class="prayer-card-simple" *ngFor="let special of specials">
  <div class="prayer-title" [ngStyle]="{'color': userAccentColor}">{{special}}</div>
  <div class="prayer-time">{{getTime(special)}}</div>
      </div>
  </div>
</div>





<!-- Status-Info Card direkt über der Bottom-Bar, ganz unten -->
<mat-card class="status-info-card" *ngIf="fetchAPIData.lastUpdated || fetchAPIData.statusCode">
  <div class="status-info-content" [ngStyle]="{'color': userAccentColor}">
    <p *ngIf="fetchAPIData.lastUpdated">Letztes Update: {{ fetchAPIData.lastUpdated | date:'short' }}</p>
    <p>{{ fetchAPIData.statusCode }} {{ fetchAPIData.statusText }}</p>
  </div>
</mat-card>