.card-times {
    margin: 1rem 0.5rem 1rem 1.9rem;
    box-shadow: 0;
    border-radius: 0 3em 0 3em;
    padding: 0em 0 0 1.5em;
    line-height: 0.7;
}

.PT-Container {
    flex-wrap: wrap;
    display: flex;
  overflow-y: auto;  
}
.PT-Item {
    order: 2;
    width: 70px;  /* Or whatever */
    padding-right: 33px;
  height: 70px; /* Or whatever */
  margin: auto;  /* Magic! */
}

.line-break {
  width: 100%;
}