<div class="tab-content">
  <div *ngIf="selectedIndex === 0">
    <app-calendar-timeline></app-calendar-timeline>
  </div>
  <div *ngIf="selectedIndex === 1">
    <app-prayer-times></app-prayer-times>
  </div>
  <div *ngIf="selectedIndex === 2">
    <app-user-settings></app-user-settings>
  </div>
</div>
<nav class="bottom-tab-bar">
  <button mat-icon-button [class.active]="selectedIndex === 0" (click)="selectTab(0)">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-icon-button [class.active]="selectedIndex === 1" (click)="selectTab(1)">
    <mat-icon>schedule</mat-icon>
    <span>Times</span>
  </button>
  <button mat-icon-button [class.active]="selectedIndex === 2" (click)="selectTab(2)">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
</nav>
