<div class="settings-wrapper">
  <form class="settings-form">
    <mat-card class="settings-card">
      <mat-form-field appearance="fill">
        <mat-label>Source of Prayertime Data</mat-label>
        <mat-select [(ngModel)]="selectedCalculationMethod" name="calculationMethod" (selectionChange)="onCalculationMethodChange($event.value)">
          <mat-option *ngFor="let calculationMethod of fetchAPIData.calculationMethods; trackBy: trackByValue" [value]="calculationMethod.value">
            {{calculationMethod.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Standard Task Dauer (Minuten)</mat-label>
        <input matInput type="number" min="1" [(ngModel)]="defaultTaskDuration" name="defaultTaskDuration" (ngModelChange)="onDefaultTaskDurationChange($event)">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Akzentfarbe</mat-label>
        <input matInput type="color" [(ngModel)]="userAccentColor" name="userAccentColor" (ngModelChange)="onUserAccentColorChange($event)">
      </mat-form-field>
    </mat-card>
  </form>
</div>