<div class="calendar-timeline">
  <div class="refresh-bar" (touchstart)="refreshPrayerTimes()" (mousedown)="$event.buttons === 1 && refreshPrayerTimes()">
    <button (click)="refreshPrayerTimes()" [disabled]="isRefreshing">🔄 Gebetszeiten aktualisieren</button>
    <span *ngIf="isRefreshing">Lade...</span>
  </div>
  <div class="day-flow">
    <div class="hour-column">
      <div *ngFor="let hour of hoursLeft" class="hour-block">
        <div class="hour-label">{{ hour }}:00</div>
        <div class="prayer-task" *ngIf="prayerTimes[hour]">
          <mat-card class="prayer-card" [ngClass]="getPrayerClass(prayerTimes[hour])">{{ prayerTimes[hour] }}</mat-card>
        </div>
        <div class="task-slot" *ngIf="!prayerTimes[hour]">
          <ng-container *ngFor="let task of getTasksForHour(hour)">
            <mat-card class="user-task-card" [ngStyle]="{'background': task.color}">
              {{ task.text }}
              <span class="task-duration">({{ task.duration }} min)</span>
            </mat-card>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="hour-column">
      <div *ngFor="let hour of hoursRight" class="hour-block">
        <div class="hour-label">{{ hour }}:00</div>
        <div class="prayer-task" *ngIf="prayerTimes[hour]">
          <mat-card class="prayer-card" [ngClass]="getPrayerClass(prayerTimes[hour])">{{ prayerTimes[hour] }}</mat-card>
        </div>
        <div class="task-slot" *ngIf="!prayerTimes[hour]">
          <ng-container *ngFor="let task of getTasksForHour(hour)">
            <mat-card class="user-task-card" [ngStyle]="{'background': task.color}">
              {{ task.text }}
              <span class="task-duration">({{ task.duration }} min)</span>
            </mat-card>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <form class="task-form" (ngSubmit)="addTask()">
    <input class="task-input" type="text" [(ngModel)]="taskInput" name="taskInput" placeholder="Task hinzufügen..." autocomplete="off" />
    <button class="task-add-btn" type="submit">Add</button>
  </form>
  <!-- Task-Liste entfernt, da Aufgaben direkt im Kalender angezeigt werden -->
</div>
